layout {
  gaps 8
  center-focused-column "never"
  always-center-single-column

  background-color "transparent" // <- needed for noctalia-shell to set wallpaper

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  focus-ring {
    width 2
  }

  shadow {
    on
  }

  tab-indicator {
    width 2
  }
}
